/*!
 *
 * Fonts from Dell for Museo and Museo Sans
 *
 */

@font-face {
    font-family: 'Museo Sans 300';
    src: url('fonts/museosansfordell-300-webfont.eot');
    src: url('fonts/museosansfordell-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/museosansfordell-300-webfont.woff') format('woff'),
    url('fonts/museosansfordell-300-webfont.ttf') format('truetype'),
    url('fonts/museosansfordell-300-webfont.svg#web') format('svg');
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('fonts/museosansfordell-700-webfont.eot');
    src: url('fonts/museosansfordell-700-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/museosansfordell-700-webfont.woff') format('woff'),
    url('fonts/museosansfordell-700-webfont.ttf') format('truetype'),
    url('fonts/museosansfordell-700-webfont.svg#web') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('fonts/museosansfordell-100-webfont.eot');
    src: url('fonts/museosansfordell-100-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/museosansfordell-100-webfont.woff') format('woff'),
    url('fonts/museosansfordell-100-webfont.ttf') format('truetype'),
    url('fonts/museosansfordell-100-webfont.svg#web') format('svg');
    font-weight: 100;
}

/********New page elements start********/
.Museo-font-300{
  font-family: 'Museo Sans 300', 'Trebuchet MS', Arial;
  font-weight: 400;
  color: #444;
  padding: 0;
}
.Museo-font-700{
  font-family: 'Museo Sans 700', 'Trebuchet MS', Arial;
  font-weight: 400;
  color: #444;
  padding: 0;
}
h1.Museo-font,
h2.Museo-font,
h3.Museo-font{
  font-family: 'Museo Sans 300', 'Trebuchet MS', Arial;
  font-weight: 400;
  color: #444;
  margin: 0 0 10px;
  padding: 0;
}

h1.Museo-font {
  font-size: 32px;
  line-height: 40px;
}

h2.Museo-font {
  font-size: 28px;
  line-height: 32px;
}

h3.Museo-font {
  font-size: 24px;
  line-height: 28px;
}

.fullwidth-content h4 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: normal;
}

.fullwidth-content p,
.fullwidth-content a {
  font-size: 14px;
  line-height: 20px;
}

.fullwidth-content a {
  line-height: 34px;
  display: inline-block;
}

a.btn-link {
    line-height: 34px;
    display: inline-block;
    font-size: 14px;
}
/********New page elements end********/


/*!
 * Bloquote Pink Style
 * Desc.: Importing styles from HTML5 DP template quote
 * Sample: DSG-Kace Landing page
 */

.blkqt-wrapper {
    position: relative;
}
.blkqt-pink, .txt-lrg-pink, .cta-link-pink {
    color: #b7295a !important;
}



/*!
 * landing page lower body area widget
 * Desc.: Contains a quote widget and case study links widget side by side
 * Sample: DSG-Kace Landing page
 */
.lower-body-area {
    border-top: 1px #ccc solid;
}
.lower-body-area .clientlist {
    height: auto;
    text-align: center;
    width: 100%;
}
.lower-body-area > div {
    box-sizing: border-box;
    padding: 10px;
    width: 49%;
    float: left;
}
.lower-body-area .clientlist a {
    width: 24%;
    margin: 0;
}
.lower-body-area .clientlist img {
    margin: 0;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}
.lower-body-area blockquote {
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    width: 75%;
}
.blkqt-with-photo img {
    display: inline-block;
    max-widows: 24%;
}
.lower-body-area .author-lrg-drk {
    font-size: 13px;
    margin: 20px 20px 18px;
    font-style: italic;
    color: #666 !important;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: -.05em;
}

/*!
 * Case study links widget
 * Desc.: Customer icon area that links to case studies
 * Sample: DSG home page, Kace to DSG Landing page
 */

.clientlist img {
    margin: 0
}

.clientlist {
    padding: 0 0 0 7px;
    height: 68px;
    width: 972px;
    text-align: left
}

.clientlist a {
    display: inline-block;
    padding: 0 !important;
    margin: 0 8px;
    text-align: center;
    vertical-align: middle
}



/*!
 * Buttons (polaris)
 * Desc.: Styles to match Dell buttons (polaris)
 * Sample: DSG-to-Kace Landing page
 * Library Link: http://www.delldesignlibrary.com/ux-patterns/buttons.html&tab=02&compset=A03
 */

.btn-active {
    background-color: #007CB8;
    padding: 0 9px;
    height: 34px;
    border: 1px solid #0f6eca;
    color: #fff !important;
}
.btn-active:hover {
    background-color: #00447b;
    text-decoration: none;
}
.btn-secondary {
    background-color: #f2f2f2;
    padding: 0 9px;
    height: 34px;
    border: 1px solid #ccc !important;
    color: #00618f !important
}
.btn-secondary:hover {
    background-color: #dadada;
    border: 1px solid #999 !important;
    text-decoration: none
}
.btn-inactive {
    background-color: #F6F6F6;
    padding: 0 9px;
    height: 34px;
    border: 1px solid #ccc !important;
    color: #ccc
}
.btn-lrg {
    min-width: 100% !important;
    box-sizing: border-box
}
a.btn-lrg {
    padding-top: 6px
}

/* button special cases */

#registersubmitII.btn-lrg {
       display: inline-block;
       min-width: 134px !important;
       color: #fff!important;
   }
#registersubmit {
    width: 236px;
}
#form-step-1 input.btn {
    width:100px;
}
#form-step-1 #registersubmit {
    width:236px;
}

/* button dsg override - styles from dell-ui-bootstrap.css */

.button {
    border-width: 0;
    border-style: solid;
    text-shadow: none;
}

.button,
.btn {
    border-radius: 0px;
    outline: none !important;
}
.button,
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none !important;
}
.btn-default {
    color: #007db8;
    background-color: #eeeeee;
    border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #007db8;
    background-color: #d5d5d5;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #eeeeee;
    border-color: #cccccc;
}
.btn-default .badge {
    color: #eeeeee;
    background-color: #007db8;
}
.btn-default:hover,
.btn-default:focus .btn-default:active,
.btn-default.active {
    background: #dadada;
}
.lrg-cta a.btn,
.button.blue,
.btn-primary {
    color: #ffffff !important;
    background-color: #007db8 !important;
    border-color: #007db8;
}
.lrg-cta a.btn:hover,
.button.blue:hover,
.btn-primary:hover,
.button.blue:focus,
.btn-primary:focus,
.btn-primary.focus,
.button.blue:active,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #005a85 !important;
    border-color: #00537b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #007db8;
    border-color: #007db8;
}
.btn-primary .badge {
    color: #007db8;
    background-color: #ffffff;
}
.button.blue:hover,
.btn-primary:hover,
.btn-primary:focus .btn-primary:active,
.button.blue:active,
.btn-primary.active {
    background: #00447c;
}
.button.green,
.btn-success {
    color: #ffffff;
    background-color: #408001;
    border-color: #408001;
}
.btn-success:hover,
.button.green:hover,
.btn-success:focus,
.button.green:focus,
.btn-success.focus,
.btn-success:active,
.button.green:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #274d01;
    border-color: #224301;
}
.btn-success:active,
.button.green:active,
.btn-success.active,
.button.green.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.button.green.disabled,
.btn-success[disabled],
.button.green[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .button.green,
.btn-success.disabled:hover,
.button.green.disabled:hover,
.btn-success[disabled]:hover,
.button.green[disabled]:hover,
fieldset[disabled] .button.green:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.button.green.disabled:focus,
.btn-success[disabled]:focus,
.button.green[disabled]:focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .button.green:focus,
.btn-success.disabled.focus,
.button.green.disabled.focus,
.btn-success[disabled].focus,
.button.green[disabled].focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .button.green.focus,
.btn-success.disabled:active,
.button.green.disabled:active,
.btn-success[disabled]:active,
.button.green[disabled]:active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .button.greens:active,
.btn-success.disabled.active,
.button.green.disabled.active,
.btn-success[disabled].active,
.button.green[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #408001;
    border-color: #408001;
}
.btn-success .badge {
    color: #408001;
    background-color: #ffffff;
}
.btn-success:hover,
.button.green:hover,
.btn-success:focus .btn-success:active,
.button.green:focus .button.green:active,
.button.green.active
.btn-success.active {
    background: #285709;
}
.btn-info {
    color: #ffffff;
    background-color: #42aeaf;
    border-color: #3b9c9c;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #34898a;
    border-color: #2a6f70;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #42aeaf;
    border-color: #3b9c9c;
}
.btn-info .badge {
    color: #42aeaf;
    background-color: #ffffff;
}
.btn-warning {
    color: #ffffff;
    background-color: #ee6411;
    border-color: #d65a0f;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #be500e;
    border-color: #9d420b;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ee6411;
    border-color: #d65a0f;
}
.btn-warning .badge {
    color: #ee6411;
    background-color: #ffffff;
}
.btn-danger {
    color: #ffffff;
    background-color: #d74324;
    border-color: #c13c20;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #ab351d;
    border-color: #8d2c18;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d74324;
    border-color: #c13c20;
}
.btn-danger .badge {
    color: #d74324;
    background-color: #ffffff;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 1px;
}
.btn-lg [class^="icon-"],
.btn-lg [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
}
.button-container {
    margin: 30px 0 30px !important;
}

/* simple link styles - styles from dell-ui-bootstrap.css */

.btn-link {
    color: #007db8;
    font-weight: normal;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #005a85;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #eeeeee;
    text-decoration: none;
}
#eventfilter .button-container { /* overrides standard .button-container used for reg buttons */
    margin: 0 !important;
}


/*!
 * Platform new template - Could be used across
 * Desc.: Unified Learn more styles
 * Sample: platform templates
 * Library Link: http://www.delldesignlibrary.com/ux-patterns/buttons.html&tab=02&compset=A03
 */
.learn-more {
    font-size: 14px;
    line-height: 34px;
    margin-top: 5px;
    display: inline-block;
}
.learn-more:hover{
    text-decoration: underline;
}

/*!
 * Tabs - Styles changes as per Dell's
 * Desc.: Style tabs to match Dell's
 * Sample: product pages
 * Library Link: http://www.delldesignlibrary.com/ux-patterns/buttons.html&tab=02&compset=A03
 */
/*tabs start*/

.ui-widget-header {
    color: inherit;
    font-weight:normal;
}

.ui-tabs .ui-tabs-nav {
    padding:0 !important;
    background: none;
    border: 0;
    border-bottom: 1px solid #cccccc;
}
#tabs > ul {
    border-radius:0;
    -moz-border-radius: 0;
    -web-border-right: 0;
}
#tabs ul li.hide-pipe,
#tabs > ul > li,
.ui-tabs .ui-tabs-nav li {
    list-style: none!important;
    float: left;
    position: relative;
    top: 0;
    padding: 0;
    white-space: nowrap;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 8%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ffffff), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 8%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 8%, #efefef 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 8%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 8%, #efefef 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
    /* IE6-9 */
    border-right: 1px solid #cccccc;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
    display: block;
    box-sizing: border-box;
}
.nav-tabs > li:hover{
    background: #cce5f1 !important;
    color: #007db8;
}
.ui-state-hover a:hover,
.img-text-tab li a:hover{
    background: #cbe6f2 !important;
    text-decoration: none !important;
}
.ui-state-active.ui-state-hover a:hover{
    background: #fff !important;
    text-decoration: none !important;
}
#tabs > ul > li.ui-tabs-active a {
    padding-bottom: 0 !important;
}
#tabs > ul > li.ui-tabs-active {
    border-top: 5px solid #007db8 !important;
    margin-right: -1px;
    margin-left: -1px;
}
#tabs > ul > li.ui-tabs-active  > a,
#tabs > ul > li.ui-tabs-active  > a:hover,
#tabs > ul > li.ui-tabs-active  > a:focus {
    padding-left: 16px !important;
    padding-top: 6px !important;
    padding-bottom: 9px !important;
    width: 100% !important;
    color: #444444;
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    cursor: default;
    margin-bottom: -1px;
}

#tabs > ul > li > a,
.img-text-button > ul > li > a{
    border: none;
    background: none;
    line-height: 1.428571429;
    position: relative;
    display: block;
    padding: 10px 15px !important;
    color: #007db8;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: -1px;
    font-size: 14px;
}

#tabs > ul > li.ui-tabs-active:last-child {
    border-right: 1px solid #cccccc !important;
}
li.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
    display: none !important;
}
/*tabs end*/