.btn_pre { float: left; width: 140px; }
input.btn_square { border: 2px solid #bcbcbc !important; border-radius: 25px !important; color: #555555; padding: 10px 8px !important; text-transform: none !important; }
input.btn_round { border: 2px solid #bcbcbc !important; border-radius: 5px !important; color: #555555; padding: 3px 8px !important; text-transform: none !important; }
input.btn_shadow { border: 2px solid #bcbcbc !important; border-radius: 5px !important; color: #555555; padding: 3px 5px !important; box-shadow: 0 2px 0 #000 !important; text-transform: none !important; }
label.field_label { float: left; width: 220px; }
.field_content { float: left; height: 40px; width: 100%; }
.field_content select { width: 192px; }
.manage_btns { float: left; }
table#btn_table { width:; }
.empty_data { text-align: center; }
.my_buttons { padding: 20px 0; }
.text_field { height: 30px; padding: 5px; }
#check_preview, #submit_changes, #del_this_btn, #submit_post { border: 1px solid #555; border-radius: 5px; cursor: pointer; padding: 6px 8px; }
#btn_table tr td { text-align: center; }
.extra_class { padding-top: 10px; }
.error_msg { color: red; float: left; margin-top: -25px; }
.show_buttons { border: 1px solid; border-radius: 5px; padding: 5px 8px; cursor: pointer; }
.set_order { width: 50px; }
.bmp_table {
	display: table;
	margin: 0px;	
	border-spacing: 0px 0px;
}
.bmp_border {
	border: thin solid #000000;
}
.bmp_fixed {
	width: 580px;
}
.bmp_row {
	display: table-row;
}
.bmp_cell {
	display: table-cell;
	padding: 4px;
	text-align: center;
	vertical-align:middle;
}
.bmp_cell_bottom_border {
	display: table-cell;
	padding: 4px;
	text-align: right;
	border-bottom: thin solid #B3B3B3;
}
.bmp_hidden {
	opacity: 0.0;
}