
html,body {
    height:100%;
}
/* 
    Document   : style
    Created on : Jun 9, 2013, 11:26:08 PM
    Author     : tacomonster
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}
#chart .row{}
#chart>div{float:left; white-space: normal; text-align: center}
#chart div{display: inline-block}
#chart td{white-space: normal; }
#chart{margin:20px auto; float:none}
#chart .row{ clear:both; font-size: 20px; border-bottom: 2px solid #bebebe}
#chart .heading.row>td{ height: 150px; font-size:20px; text-align: center; position: relative; vertical-align: top}
#chart .heading.row>td>div{height: 235px; text-align: center; position: relative; vertical-align: top; width: 100%}
#chart .heading.row>td.label{height: 120px;}
#chart .label{width:170px; background-color:#3d3f3f; color:white; text-transform: none; font-weight: normal; position:relative}
#chart .label span{width:150px;display:inline-block; float:left }
#chart .row .label{font-size: 16px; text-align: left; line-height: 20px;}
#chart .heading.row .label{ padding-bottom: 50px;font-size: 47px;padding-top: 50px;color: #2fa2c5;line-height: 39px;text-align: center;}
#chart .col1, #chart .col2, #chart .col3{border-left: 1px solid #bebebe; text-align: center}
#chart .col1{width:170px; background-color:#f3f3f3; }
#chart .col2{width:180px; background-color: #e4e4e4;}
#chart .col3{width:270px; background-color: #f1eee9; }
#chart .row>td{padding:10px; }
#chart .col2head, #chart .col1head, #chart .col3head{font-size: 18px; }
#chart .fee{clear: left; position: absolute; top: 75px; text-align: center; left:0; width:100%; }
#chart .cta{clear: left; position:absolute; bottom: 10px; color: #2cbbe2; left: 0; width:100%; cursor: pointer}

#chart .fee .circle{width:120px; height: 80px; padding-top:40px; background-color: #2cbbe2; border: 2px solid #fff; color: #fff; float:none; border-radius: 75px}
#chart .cta a{}
#chart td.label .tt{border-radius: 15px;float: right;background-color: #2cbbe2;width: 15px;height:15px;cursor:pointer; cursor: hand; }

#chart .label  .tt .desc{color: #2cbbe2;
width: 300px;
z-index: 999;
position: absolute;
padding: 20px;
background-color: #fff;
border-radius: 25px;
box-sizing: border-box;}
#mailchimp{display:none}
div.s2member-pro-authnet-form-section>div.s2member-pro-authnet-form-div input[type="text"], div.s2member-pro-authnet-form-section>div.s2member-pro-authnet-form-div input[type="password"], div.s2member-pro-authnet-form-section>div.s2member-pro-authnet-form-div textarea, div.s2member-pro-authnet-form-section>div.s2member-pro-authnet-form-div select, .avgrund-popin input{border: 1px solid black}
body div.s2member-pro-authnet-form-section-title, body div.s2member-pro-authnet-form-description-div  {font-family: inherit}
.avgrund-active .avgrund-popin, .s2member-pro-authnet-form {border-radius: 15px; padding: 30px !important; color: #fff; font-size: 14px; background-color: #2cbbe2}
.cushion span{margin-left: 20px}

#s2member-pro-authnet-checkout-form-username-div, #s2member-pro-authnet-checkout-form-password-div{display:none}
#s2member-pro-authnet-checkout-form-submission-section input[type="submit"]{display: inline-block;
float: right;
width: 220px;
margin-top: 70px;
font-size: 18px;
line-height: 46px;
color: #fff;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #ffa800;
border-radius: 10px;
-webkit-transition: all 0.15s ease;}