body.membership {
    min-width: 365px;
}

header,
.content-panel {
    padding: 0 8px;
}

    header .sub-header,
    .content-panel #main,
    .shell-header-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    
    header .sub-header {
        max-width: 1215px;
    }
    
    .content-panel #main,
    .shell-header-wrapper {
        max-width: 1197px !important;
    }

    .shell-header-dropdown.active a {
        font-weight: bold;
        color: #000000;
    }
    
    .shell-header-dropdown.horizontalLayout.active h2:hover a,
    .shell-header-dropdown.horizontalLayout.active h2:focus a {
        color: #0072C6;
    }
  
    @media all and (max-width: 899px) {
        header .sub-header,
        .content-panel #main {
            width: 100%;
        }   

        .shell-header-nav-horizontalL2 {
            display: none;
        }
    }

#Subscription-no-subscription {
    margin: 20px 0 0 0;
}

body .membership .content-panel {
    min-height: 300px;
}

#home-page .transactions .loading {
    margin-top: 10px !important;
}

.home-page .subscriptions {
        width: 50%;
        margin-right: 0;
}

#subscription-page #itemlist li {
    position: relative;
}

#subscription-page #list {
    position: relative;
    height: 75px;
}

#subscription-page #itemlist li {
    background-color: white;
      z-index: 1;
}

#subscription-page #itemlist li:hover {
    background-color: #2672ec;
}

#subscription-page #itemlist li.selected,
#subscription-page #itemlist li.selected:hover,
#subscription-page #itemlist li.selected a:hover {
    background-color: transparent;
    color: inherit;
}

#subscription-page #itemlist li.selected:hover span.ellipsis {
    color: #000 !important;
}

/* PC version */
@media all and (min-width : 1400px) {
    
}

/* TABLET version */
@media all and (max-width : 1399px) {
}

/* SMART PHONE */
@media all and (max-width : 767px) {
    #main-body.membership {
        margin: 0;
    }

    .home-page .subscriptions, .home-page .payment-options {
        margin-top: 10px;
    }

    body.membership .home-page .more {
        margin-bottom: 0;
    }

    header,
    .content-panel {
        padding: 0 10px;
    }

        header .sub-header,
        .content-panel #main {
            width: 100%;
            min-width: inherit;
        }

    .modal-content {
        width: inherit;
    }

    header {
        height: inherit;
        min-width: inherit;
    }

    #main-body.membership header .sub-header {
        height: inherit;
    }

    .sub-header h1 {
        width: 100%;
    }

    body.membership #main .trans thead,
    body.membership #main .trans tbody,
    body.membership #main .trans tbody tr,
    body.membership #main .trans tbody tr td{
        display: block;
    }

    body.membership #main .trans tr td.trans-status,
    body.membership #main .trans tr td.trans-pi,
    body.membership #main .trans thead {
        display: none;
    }

    body.membership #main .trans tbody tr {
        height: 4em;
        position: relative;
    }

    body.membership #main .trans tr td {
        position: absolute;
        height: 2em;
        line-height: 2em;
        width: inherit;
        top: 0;
        left: 10px;
    }
    
    body.rtl.membership #main .trans tr td {
        right: .5em;
    }

    body.membership #main .trans tr td.trans-total {
        right: 0;
        left: inherit;
    }
    
    body.rtl.membership #main .trans tr td.trans-total {
        right: inherit;
        left: .5em;
    }

    body.membership #main .trans tr td.trans-etax {
        right: 0;
        left: inherit;
        top: 2em;
    }

    body.membership #main .trans tr td.trans-desc {        
        top: 2em;
        max-width: inherit;        
    }

    .sub-header .accountLists {
        margin-top: 0;
    }
}