/*!CK:2582879277!*//*1436993575,*/

._56hv,._56hy{background-color:#fff;border:1px solid #ccc;display:inline-block;margin-left:7px;margin-right:2px;outline:none;padding:2px;position:relative}._56hv i,._56hy{background-color:transparent;background-position:center 25%;background-repeat:no-repeat;background-size:cover;display:block;height:38px;width:52px}._56hy{position:absolute;-webkit-transform:rotate(5deg)}

#bootloader_Ak7ta { height: 42px; }
.bootloader_Ak7ta { display:block !important; }