/* CSS for WP-Testimonials */
#sfstest-form label {
float: left;
width: 200px;
font-weight: bold;
}

#sfstest-form input {
width: 250px;
margin-bottom: 5px;
border: 1px solid #ccc;
}

#sfstest-form br {
	clear: left;
}