/* 20140814RF */
/* ==================================================  theme styles */

body {
	margin: 0;
}

.visuallyhidden {
  background-color: #fff;
  border: 0;
  clip: rect(0 0 0 0);
  color: #000;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

caption.visuallyhidden {
  position: relative;
  text-indent: -99999px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

#content-wrapper a { color:#000; text-decoration: underline;}

a {
	color: #085eb9;
	&.form-link { color: #0054a7; }
}

ul.arrow-link { padding-top: 10px; padding-bottom: 10px; list-style: none; }

.small { font-size: .9em; }

.focus { border: 3px solid #0054a7; }

.focusselect { border: 3px solid #0054a7; }

#header .branding-logo { padding: 28px 10px 0 34px; }

#header h1 { color: #4d4b4e; margin-top: 26px; }

#header h1 .cta { color: #000;}

#main-content-body input[type="text"], #main-content-body input[type="password"] { height: auto; padding: 10px; }

#show-addtional-phone { text-decoration: none; color: #0054a7; font-weight: bold; }

.form-buttons-container { float: right; height: 50px; margin: 30px 40px 0 0; }

.approval-status .divider { padding-top: 30px; }

.legal { width: 95%; }

/* ================================================== sidebar */

.card-art { margin: 0 0 0 8px; }

.exclusive { background: #211f1f; margin-bottom: 20px; }

.exclusive h3 { padding-top: 5px; padding-bottom: 5px; }

#side-nav-content { background: #eeeeee; padding-top: 65px; }

#side-nav-content ul.checkmark li{ padding-bottom:15px; }

#side-nav-content ul.checkmark li:last-child { padding-bottom: 0; }

#side-nav-content-top { background-image: url("/cards/acq/acq/img/common/bg_leftrail-top.png"); top: 46px; }

#side-nav-content-bottom { background: #e6e6e6 url("/cards/acq/acq/img/common/bg_leftrail-bottom.png"); height: 6px; }

#side-nav-content h2 { color: #000; }

#side-nav-content .flyout_content h2 { color: #000; font-weight: bold; }

#side-nav-content .checkmark a { color:#fff; text-decoration: underline; display:inline;}

#side-nav .content { padding-left: 42px; }

#side-nav-content h2 {
	margin-left: 21px;
	font-size:18px;
}

#side-nav .contentul {
	padding-left: 10px;
	text-align:left;
}

#side-nav-inner-top { padding-bottom: 20px; }

#side-nav-inner-top a { color: #000; }

#side-nav-inner-top ul {
	margin-top: 15px;
	margin-left:0;
}

#side-nav-inner-top #card-benefits > a { padding-top: 0; }

#side-nav-inner-middle, #side-nav-inner-bottom, #side-nav-inner-middle, #side-nav-inner-middle-divider { background: #e6e6e6; }

#side-nav-inner-middle, #side-nav-inner-bottom { border-top: solid 1px #d1d1d1; padding: 5px 0 0 0; }

#side-nav-inner-bottom { padding-bottom: 12px; padding-top: 20px;}

#side-nav-inner-middle-divider { clear: both; height: 6px; margin-top: 5px; margin-bottom: 0; width: 242px; padding: 0 0 10px 0; }

#help-center { margin: 5px auto auto 32px; }

#secure-app { margin: -6px auto 5px 32px; }

.norton img { padding-left: 2px; margin-bottom:20px; }

/* ================================================== apply page */

#main-content-body .introduction h3 { font-size: 14px; }

.introduction ul { padding-left: 15px; list-style: disc; }

.introduction ul.arrow-link { padding-left: 0; }

.apply .section { padding-top: 10px; padding-bottom: 25px; }

.section { background: white; border-top: solid 1px #e0e0e0; }

#footer.apply { border-top: none;  }

span.cents+div.tooltip { position: relative; top: 3px; }

.introduction span.button-align { float:left; line-height: 64px; }
.introduction span.extra-space { display:block; padding: 45px 0; }

/* ================================================== product info page */

#main-content.product-info { float: left; }

#main-content.product-info  #main-content-body { width:929px; }

#fast-act { padding: 40px 30px; }

.product-info table { width: 100%; border-collapse: collapse; color: #333333; margin-top: 3px;}

.product-info table em { color:#eb294f; font-style:normal; }

.product-info table caption { font-size: 24px; line-height: 34px; text-align: center; padding: 0.5em; background:#f6f6f6; border:1px solid #E2E3E4; border-bottom: 0; }

.product-info table th { font-weight: bold; text-align: left; padding: 1em;  width: 40%; border:1px solid #E2E3E4; vertical-align: top; }

.product-info table td { text-align: left; padding: 1em;  width: 60%; border:1px solid #E2E3E4; vertical-align: top; }

.product-info table ul { list-style:none; padding-left:0;  }

.product-info table ul li { margin-bottom:12px; }

a#continue-btn {width:180px;}

a#shop-now-btn {
    display: block;
    width: 164px;
    height: 53px;
    text-indent: -3000px;
}

/* ================================================== approval status page */


.approval-status #main-content { clear:both; }

.approval-status #main-content-body { min-height: 420px; }

.approval-status #main-content-body li { padding-bottom: 0; }

#other-credit-offers { left: 0; margin-top: 0; background: url(/cards/acq/acq/img/genericACQ/section_gradient.gif) repeat-x; }

/* ================================================== processing page */

#approval-status-banner p.paperless  { font-size: 36px; line-height: 46px; margin: 26px 0 0 35px; }

#content-wrapper #footer a {
color: #000;}

.ui-dialog.jfpw-confirm .ui-dialog-titlebar.ui-widget-header {
     display : none !important;
}

#JFPNav-sessionExtension-parent {
        z-index: 10001 !important;
} 

.blockUI.blockOverlay {
    background-color: #FFF !important;
    z-index: 10000 !important;
}
