/* 20140814RF */
.check,.select-check, form > span.check {
	background:url("/cards/acq/acq/img/common/checkmark_valid.png") no-repeat;
	display: block !important;
	width: 16px;
	height: 16px;
	margin: 10px 0 0 4px;
}

.focus-error{
	border:3px solid #BF0000 !important;
	padding:8px !important;
}


/** Error Message Container **/

#err-paperless{
	background:url("/cards/acq/acq/img/genericACQ/error-icon-gray.gif") no-repeat 1px 8px;
	background-color:#e2e3e4;
	color:#BF0000;
	padding:10px 10px 10px 20px;
	display: none;

}

.err-top{
	background:url("/cards/acq/acq/img/genericACQ/err-top.png") no-repeat;
	width:650px;
	height:10px;
}

.err-bottom{
	background:url("/cards/acq/acq/img/genericACQ/err-bottom.png") no-repeat;
	width:650px;
	height:10px;
	margin-bottom: 20px;
}
.err-middle{
	background:url("/cards/acq/acq/img/genericACQ/error-icon-gray.gif") no-repeat 4px ;
	background-color:#e2e3e4;
	color:#BF0000;
	padding:1px 0px 1px 30px;
	width:594px;


}

.err-global{
	display: none;
}

.err-submit{
	background:url("/cards/acq/acq/img/genericACQ/error-icon-gray.gif") no-repeat 1px 8px;
	background-color:#e2e3e4;
	color:#BF0000;
	padding:10px 10px 10px 20px;
	margin-bottom: 10px;
	margin-right: 20px;

}

.err-msg{
	clear:both;
	color:#BF0000;
	font-weight: normal;
	position: absolute;
	top: 58px;
	margin-top: 7px;
}

.err-select{
	top:50px;
}

.err-msg-checkbox{
	
	color: #BF0000;
	font-weight: normal;
	position: absolute;
	top:20px;
	left:30px;

}


.err-msg img{
	left:0;
	top:0;
	position: absolute;
}

.err-msg span{
	float:left;
	padding-left: 20px;
}

input[type="text"].error-textbox{
	border:1px solid #BF0000;
	margin-top: 5px;

}

input[type="password"].error-textbox{
	border:1px solid #BF0000;
	margin-top: 5px;

}

select.error-textbox{
	border:1px solid #BF0000;
}

.show{
	display: block;
}

div.show{
	visibility: visible;
}

.hide {
  background-color: #fff;
  border: 0;
  clip: rect(0 0 0 0);
  color: #000;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden {
  background-color: #fff;
  border: 0;
  clip: rect(0 0 0 0);
  color: #000;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#phoneNumber_error_container{
            width: 254px;
              
position: relative;
height: 30px;
top: 0px;
}
