/*!CK:3364202224!*//*1437965335,*/

.sp_nnxMzhYr5hn{background-image:url(/rsrc.php/v2/yH/r/uGtYgYjTyqQ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:20px}.sp_nnxMzhYr5hn.sx_e6bc68{background-position:0 0}.sp_nnxMzhYr5hn.sx_37e212{height:20px;background-position:0 -88px}.sp_nnxMzhYr5hn.sx_de2641{background-position:0 -22px}.sp_nnxMzhYr5hn.sx_e68e84{background-position:0 -44px}.sp_nnxMzhYr5hn.sx_961dc1{background-position:0 -66px}.sp_nnxMzhYr5hn.sx_88e384{height:20px;background-position:0 -109px}

#bootloader_zuAsj { height: 42px; }
.bootloader_zuAsj { display:block !important; }