		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 15 July 2015 14:45:44
*/


/**
 * Temporary CSS file.  All styles to be moved into Elsevier framework
 */

#recaptcha_privacy {display: none;}

table {
  table-layout: auto;
}

tr {
  /* Turned this off: the th's were stacking next to eachother instead of spanning the total width */
  // display: table-row-group;
}

.grey-background{
   background:#f5f5f5
}

.center{
   text-align:center;
}

ul.no-bullets{
   margin-left:0;
}

ul.no-bullets li{
   list-style-type:none;
   margin-bottom:10px;
}

ul.important-links, ul.important-links li{
    list-style-type:none;  
}

.journal-description{
   margin-top:40px;
}


/**
 * Filter dropdowns
 */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 0.875rem !important;
/* ---- commented by lwoollett to fix typehead issue on http://www.elsevier.com/books/title/a ---- */
//  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {

}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: -17px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.tt-suggestion {
  padding: 0.5rem;
  font-size: 0.875rem !important;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 0.875rem !important;
}

.tt-dataset-authors p{
  font-size: 0.875rem !important;
}

.expander-contracted {
    display: block; /* Fallback for non-webkit */
    height: 62px; /* Fallback for non-webkit */
    margin: 0 auto;
    overflow: hidden;
}

.expander-contracted.big{
    height: 162px; 
}
.left-float{
   float:left !important;
}
.journal-image {
    width: 100%;
}

span.searchCTA {
  padding-right: 40px;
}
 

/*
.container-form-search input{
  padding-left: 10px !important;
  padding-right:10px !important;
  border: 1px solid rgb(195, 195, 195) !important;
}
*/

.search-page .container-form-search{
      width: 450px;
}

.search-page .container-form-search input{
      width: 238px;
}

.search-page form.search{
    float:right;
}

.search-page .container-form-search .advanced-search-link{
    margin-top:11px;
    float:left;
}

.cover a.button, .important-links a.button{
    width: 185px;
}

.cover img{
    margin-bottom: 20px;
}

.open-access-button{
   margin-right:1rem;
}

.no-padding-top{
   padding-top:0 !important;
}

.no-padding-bottom{
   padding-bottom:0 !important;
}

.no-margin-bottom{
   margin-bottom:0 !important;
}

.open-access table .icon {
  margin: 0px 10px 10px 0px;
}

.icon-orange-blind {
  background-position: -16px 0;
}

.icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  line-height: 16px;
  vertical-align: middle;
  background: transparent url(http://www.elsevier.com/__data/assets/image/0014/51620/oa-icons.png) no-repeat 0 0;
  margin: 0px 10px 0px 0px;
}

.icon-orange-blind {
  background-position: -16px 0;
}

.icon-green-orange-blind {
  background-position: 0 0;
}

.open-access a.oa-popup{
   border-bottom: dashed 1px #006080;
   text-decoration: none;    
}
.open-access a.oa-popup:hover{
   text-decoration: none;    
}
.open-access table tr td{
   border-color: #ccc;
}
.open-access-buttons{
   margin: 0px auto 20px;
   display: table;
}
div.free-text{
   position: relative;
}
a.oa-popup{
   border-bottom: 1px dashed #006080;
   text-decoration: none;
}
a.oa-popup:hover{
   text-decoration: none;
}

/* Arrow Box */
.arrow-box{ 
  position: relative; 
  background: #ffffff; 
  border: 1px solid #a4a4a4; 
  width: 299px;
  border-radius: 5px;
  padding: 12px;
  color: #111111;
  z-index: 1000;
  position: absolute;
  zoom: 1;
  -webkit-box-shadow: 0 0 28px -5px #A0A0A0;
  -moz-box-shadow: 0 0 28px -5px #A0A0A0;
  box-shadow: 0 0 28px -5px #A0A0A0;
} 
.arrow-box p{
  margin-bottom: 0px;
}
.arrow-box::after, .arrow-box::before{ 
  bottom: 100%; 
  left: 90px; 
  border: solid transparent; content: " ";
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
  z-index: 1000;
} 
.arrow-box.arrow-box-right::after, .arrow-box.arrow-box-right::before{
  left: 239px;    
}
.arrow-box::after{ 
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 13px; 
  z-index: 1000;
  margin-left: -13px; 
}
.arrow-box::before{ 
  border-color: rgba(164, 164, 164, 0); 
  border-bottom-color: #a4a4a4; 
  border-width: 14px; 
  margin-left: -14px; 
  z-index: 1000;
}
/* Popup contents */
.oa-popup-content{
   display: none;
}
.open-access-buttons{
   position: relative;
}
div.free-text.popups{
   position: relative;
}

/*
 * Breadcrumbs - hidden by default
 */
.row.row-breadrumbs {
  display: none;
}
.row.row-breadrumbs.show-breadcrumbs {
  display: block;
}

.side-tooltip .ci-tooltip {
  max-width: 400px;
 // min-width: 350px;
 // right: 0;
}

.ci-tooltip-trigger.side-tooltip {
  color: #007398;
}

.ci-tooltip-trigger.side-tooltip:hover {
  text-decoration: underline;
}

.ci-tooltip {
     background: none repeat scroll 0% 0% #ffffff;
   //  border-radius: 5px;
     border: 1px solid #a4a4a4;
    // box-shadow: 0px -4px 25px 0px rgba(0, 0, 0, 0.5);
    // left: 0px;
     margin-bottom: 10px;
     padding: 15px;
    // top: 75px !important;
    // position: absolute;
     width: auto;
     z-index: 99;
}

.ci-tooltip-up-arrow {
     background: url("http://www.elsevier.com/__data/assets/image/0016/239020/sprite.png?v=0.1.1") repeat scroll 122px 0px transparent;
     display: inline-block;
     height: 15px;
     position: absolute;
     top: -12px;
     visibility: hidden;
     width: 30px;
     z-index: 100;
     display: none;
}

.arrow_l.ci-tooltip::after, .arrow_l.ci-tooltip::before {
     left: 20px;
}

.arrow_r.ci-tooltip::after, .arrow_r.ci-tooltip::before {
     left: auto;
     right: 10px;
}

.ci-tooltip {
     display: none;
}

.search_list .results li .innovation a, .search_list .results li .innovation .ci-tooltip-trigger {
     color: #006080;
     position: relative;
}

.search_list .results li .innovation .ci-tooltip {
     left: auto;
     right: 0px;
}

.search_list .filter_dicipline .ci-tooltip {
     width: 209px;
}

.search_list .filter_title .ci-tooltip {
     left: -36%;
     width: 256px;
}

.search_list .filter_innovation .ci-tooltip {
     left: auto;
     right: -10px;
     width: 160px;
}

.ci-tooltip-header, .ci-tooltip-more {
     color: black;
     margin-top: 5px;
     padding-bottom: 10px;
}

.ci-tooltip-inner {
     color: #000000;
}

.ci-tooltip-header, .ci-tooltip-inner, .ci-tooltip-more {
     cursor: default;
     display: inline-block;
     width: 100%;
}

.ci-tooltip-trigger {
     cursor: pointer;
}

.side-tooltip .ci-tooltip img {
     height: 100%;
}

.ci-tooltip-inner .wrapper.content_area {
     padding-bottom: 10px;
     padding-left: 0px;
}

.div-tooltip-clickable {
     color: #006080;
}

.ci-tooltip-inner p {
  font-size: 1rem;
}

.ci-tooltip-inner > h1 { 
  font-size: 1.5rem; 
}

.innovation.content.grey-background {
  padding: 15px;
}

@media (max-width: 640px) {

  .ci-tooltip-trigger.side-tooltip {
    background: none repeat scroll 0 0 #f5f5f5;
    display: block;
    margin-bottom: 10px;
    padding: 15px;
  }

  .innovation.content .comma {
    display: none;
  }

  .innovation.content.grey-background {
    background: transparent;
    padding: 15px;
  }

  .side-tooltip .ci-tooltip {
    max-width: none;
    min-width: auto;
    right: 0;
  }

  .ci-tooltip {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a4a4a4;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    margin-bottom: 60px;
    padding: 15px;
    position: relative;
    top: 30px !important;
    width: auto;
    z-index: 99;
  }

}

.searchform.connect-form, .no-width {
  max-width: none;
}

.div-citooltip-close { float: right; }

.cta-reset-btn {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.45rem 0.75rem;
}

.press-release-heading{
  padding-bottom:0.75rem;
  display:block;
}

.publications{
   margin-top:30px;
}

.surveyOpen{
  display:none;
}

#surveyPopup{
  background-color: white;
  margin: auto;
  left:15%; 
  top:25%;
  padding: 20px;
  z-index: 6000;
  border: 1px solid gray;
  width:70%;
  position:fixed;
  display:none;
}​

.press-release-category{
   padding-bottom:10px;
   font-size:0.9rem;
}