.SpectrumOptinList{
	padding:10px 65px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.SpectrumOptinList div{
	display:inline-block;
	padding-right:5px;	
}

.ie7 .SpectrumOptinList div{
	display:inline;	
}

.SpectrumOptinList li{
	background: none repeat scroll 0 0 transparent;
	min-height:15px !important;
	padding:8px 0 !important;
}
