@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;
	background-position:center top;
	background-size:cover;
	background-repeat:no-repeat;
}
.landing_page{
	background-image:url(images/background/landing_page.jpg);	
}
.landing_page_with_input{
	background-image:url(images/background/landing_page_with_input.jpg);
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}
.zoSocial_container{
	width:940px;
	margin:0 auto;
}
.rightFormSection{
	width:100%;
	display:inline-block;
}
.logoSection{
	width:100%;
	display:inline-block;
	text-align:center;
        max-height: 60px;
}
.logoSection img
{
    max-width: 100%;
    max-height: 60px;
}
.landingPageForm{
	margin-top:100px;
}
.zoSocial_fromContainer{
	width:100%;
	background:#fff;
	display:inline-block;
	border-top:6px solid #29bdb1;
	padding:30px;
	margin:25px 0px;
	margin-bottom:0px;
	text-align:center;
}
.inner-addon { 
    position: relative; 
	margin-top:20px;
}
/* style icon */
.left-addon .glyphicon {
  position: absolute;
  padding: 0px;
  pointer-events: none;
  background:#f8f8f8;
  border-right:1px solid #dcdcdc;
  border-radius:4px 0px 0px 4px;
 }

/* align icon */
.left-addon .glyphicon  { left:  1px;}
.right-addon .glyphicon { right: 1px;}


.glyphicon-user:before{
	content:"";
	background:url(images/common/userIcon.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.glyphicon:before{
	width: 46px;
	height: 46px;
	display: inline-block;
}
.glyphicon-envelope:before{
	content:"";
	background:url(images/common/envelope-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
}
/* add padding  */
.left-addon input  {
	padding:0px;
	height:48px;
	padding-left:65px;
	border-color:#dcdcdc;
	color:#999999;
}
.right-addon input {
	 padding:0px;
	 padding:0px 45px;
	 height:47px;
	 text-align:center;
	 color:#fff;
	 border:none;
	 background:#29bdb1;
}
.right-addon input.call2action{
	text-transform:uppercase;
	font-size:16px;
}
.right-addon input.call2action:hover{
	background:#23a197;
}
.right-addon .glyphicon {
	position: absolute;
	padding: 0px;
	pointer-events: none;
	background: #23a197;
	border:none;
	border-radius: 0px 4px  4px 0px;
}
 .glyphicon-arrow-right:before{
	content:"";
	background:url(images/common/rightArrow.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.zoSocial_fromContainer h3{
	color: #2b3d50;
	font-weight: 600;
	margin: 0px;
	line-height: 30px;
}
.zoSocial_fromContainer h4{
	font-size:16px;
	color:#2b3d50;
	margin:15px 0px;
	line-height: 24px;
}
.formBottomSection{
	width:100%;
	display:inline-block;
	background:#f8f8f8;
	border-top:1px solid #dcdcdc;
	border-radius:0px 0px 5px 5px;
	text-align:center;
	color:#2b3d50;
	font-size:16px;
	padding:20px 0px;
}

.fancybox-skin{
	background:none !important;
	box-shadow:none !important;
}
.footerText{
	width:100%;
	display:inline-block;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin:20px 0px;
	background:none;
}
.landingPageLeftImageContainer{
	width:100%;
	display:inline-block;
	margin:125px 0px;
	/*-webkit-box-shadow: 0px 0px 15px 2px rgba(51,51,51,1);
	-moz-box-shadow: 0px 0px 15px 2px rgba(51,51,51,1);
	box-shadow: 0px 0px 15px 2px rgba(51,51,51,1);
	border-radius:5px;*/
        overflow: hidden;
	
}
.landingPageLeftImageContainer img{
	width:100%;
}

.landingPageLeftImageContainer-responsive{
	display:none;
	width:100%;
	margin:10px 0px;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
	box-shadow: 0px 0px 15px 2px rgba(153,153,153,1);
}


.form-control.error:focus {
	border-color: #C00;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,0,0,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,0,0,.6);

}

.error{
	color:#C00;
	text-align:left;
	margin:5px 0px;
	font-size:13px;	
}
input, textarea {
  max-width:100%
}

/*.left-addon input.form-control:-webkit-input-placeholder, .left-addon input.form-control:-moz-placeholder, .left-addon input.form-control:-moz-p, .left-addon input.form-control:-ms-input-placeholder, .left-addon input.form-control {
   color: red;
}

*/
/* Start Responsive css */


@media (max-width:1200px){
	body{
		background-size:inherit;
	}
	.zoSocial_container{
		width:890px;
	}
	.landingPageForm {
		margin-right: -5px;
		margin-left: -5px;
	}
}
@media (max-width:991px){
	
	.zoSocial_container{
		width:740px;
	}
	.col-md-6 {
		width: 50%;
		float:left;
	}
	
}

@media (max-width:767px){
	.zoSocial_container{
		width:100%;
	}
	.col-md-6 {
		width: 100%;
	}
	.landingPageForm .col-md-6{
		margin:0px;
		padding:0px;	
	}
	.formBottomSection{
		border-radius:0px;
	}
	.landingPageForm{
		margin:0px;
		margin-top:50px;
	}
	.landingPageLeftImageContainer{
		display:none;
	}
	.landingPageLeftImageContainer-responsive{
		display:inline-block;	
	}
	.landingPageLeftImageContainer-responsive img{
		width:100%;
	}
	body.landing_page_with_input{
		background-position:bottom;
	}
	input[type="text"]:focus, input[type="email"]:focus {
		font-size: 16px; /* Adding 16px on focus will prevent page zoom */
	}
}
@media (max-width:480px){
	body{
		background-size:cover;
	}
	.zoSocial_fromContainer{
		padding:15px;	
	}
	

}
@media (max-width:360px){
	

}
@media (max-width:320px){
	
}
