/*!CK:1697026611!*//*1438909441,*/

._2xxs{position:relative;text-align:left}._2xxs ._58ak{width:100%}._2xxu ._2wac{width:50%}._2xxu ._2wac:first-child ._58ak{border-right-width:0}._2xxt ._2wac:first-child ._58ak{border-bottom-width:0}._2xxv ._2wac:first-child ._58ak{border-top-color:#fff}
._1xfk{margin-bottom:-1px}
._5sor{font-size:12px}._-el ._5sor{font-size:15px}

#bootloader_JtZej { height: 42px; }
.bootloader_JtZej { display:block !important; }