/*!CK:787240833!*//*1437965350,*/

._2t_e ._2t_f{background:0;border:0;height:100%;padding-left:0;width:100%}._2t_e ._2t_f input{font-size:14px;height:100%}._2t_e ._2t_g{color:#9197a3}

#bootloader_BO_3J { height: 42px; }
.bootloader_BO_3J { display:block !important; }